
.topnav{
    display: flex;
    justify-content: space-between;
    background-color: #E6E6DC;
    box-shadow: 3px 3px 3px 3px #ccc;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: nowrap;
    flex-direction: column;
    @media only screen and (min-width: 800px) {
        flex-direction: row;
    }
    ul {
        li:not(:last-child){
            display: none;
            margin-right: 15px;
            text-transform: capitalize;
            @media only screen and (min-width: 800px) {
                display: inline-block;
            }
            button {
                padding: 10px 20px;
                font-size: 16px;
                text-align: center;
                color: #fff;
                background-color:  #81A594;
                border-radius: 15px;
                box-shadow: 0 5px #999;
                text-transform: capitalize;
                &:hover {
                    background-color:#00628B;
                    color:#81A594;
                }
              }
              
              
              
        }
    }
}


a {
    text-decoration: none;
    color: #222;
    font-size: 20px;
    &:hover{
        color: #81A594; 
    }
  }

  .icon {
      size:3px;
      color:#81A594;
      @media only screen and (min-width: 800px) {
        display: none;
    }
  }