<div class='topnav'>
    <h1>rolodex</h1>
    <ul>
        <li>
            <a class="one active" routerLink='/'>Home</a>
        </li>
        <li>
            <a class="two" routerLink='/contact'>view all contacts</a>
        </li>
        <li>
            <a class="three" routerLink='/create'>Create contacts</a>
        </li>
        <li>
            <a class="four" routerLink='/profile'>{{user.username}}'s profile</a>
        </li>
        <li>
            <div class="header-right">
                <div class="logged-in" *ngIf="isLoggedIn()">
                    <!-- Welcome, {{user.username}} -->
                    <button (click)="logout()">Log Out</button>
                </div>

                <div class="logged-out" *ngIf=!user.loggedIn>
                    <button (click)="login()">Log In</button>
                </div>
            </div>
            <!-- <a routerLink='/login'>
                <button>log in</button>
            </a> -->
        </li>
        <i class="fas fa-chevron-circle-down icon"></i>
    </ul>
</div>