/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Kodchasan');

//house cleaning
html {
    box-sizing: border-box;
    margin: 0;
    height:100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }

 
  body {
    margin: 0 auto;
    font-family: 'Kodchasan', sans-serif;
    height: 100%;
  }

  //global form style
  %shared {
    background-color: green;
  }