/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Kodchasan');
@media screen and (max-width: 100px) {
  .topnav{background-color: pink;}
  .topnav li:not(:last-child) {display: none;}
  // .topnav .icon {
  // //   float: right;
  // //   display: block;

}
@media screen and (max-width: 200px) {
  .topnav.responsive{
      flex-wrap: nowrap;
      background-color: red;
      justify-content: start;
  }
  .topnav.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
html {
    box-sizing: border-box;
    margin: 0;
    height:100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }

 
  body {
    margin: 0 auto;
    font-family: 'Kodchasan', sans-serif;
    height: 100%;
  }
